### SET ASSIGNMENT
#### Antony Mithika
- Test Exercise

In [5]:
#Create the requested sets

u={1,2,3,4,5,6,7,8,9,10,11,12}
e={2,4,6,8,10}
p={3,8,11,12}
q={2,3,6,8,9,11}

In [6]:
# 1. Calculate the intersect between p and e

p & e

{8}

In [7]:
# 2. Calculate the union between p and e

p|e

{2, 3, 4, 6, 8, 10, 11, 12}

In [ ]:
# 3. Calculate the Absolute Compliment of e
compliment_e=(u-e)
print(compliment_e)

{1, 3, 5, 7, 9, 11, 12}

In [ ]:
# 4. Calculate the Absolute Compliment of p
compliment_p=(u-p)
print(compliment_p)

{1, 2, 4, 5, 6, 7, 9, 10}

In [ ]:
# 5. Calculate the union of e and p and get the compliment
union=(e|p)
comp_ep=(u-union)
print(comp_ep)

{1, 5, 9, 7}

In [ ]:
# 6. Calculate the intersect of e and the compliment of p
e & compliment_p

{2, 4, 6, 10}

In [12]:
# 7. Calculate the Relative Compliment of e
e-p

{2, 4, 6, 10}

In [15]:
# 8. Calculate the relative compliment of p\e then q
RelComp=(p-e)
RelCompq=(q-RelComp)
print(RelCompq)

{8, 9, 2, 6}

In [18]:
# 9. Calculate the Union between the Intersect of q and e and the relative comp of q\p
Inter=(q&e)
Relcomp=(q-p)
Unin=(Inter|Relcomp)
print(Unin)

{2, 6, 8, 9}

- 1st Exercise

In [2]:
# Create Requsted sets
A={2, 4, 6, 8, 10}
B={8, 11, 3, 12}
C={2, 3, 6, 8, 9, 11}
U={1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [3]:
# 1. Calculate the intersect between A and B

A & B

{8}

In [4]:
# 2. Calculate the union between A and B

A|B

{2, 3, 4, 6, 8, 10, 11, 12}

In [8]:
# 3. Calculate the Compliment of A
compliment_A=(U-A)
print(compliment_A)

{1, 3, 5, 7, 9, 11, 12}

In [9]:
# 4. Calculate the Compliment of B
compliment_B=(U-B)
print(compliment_B)

{1, 2, 4, 5, 6, 7, 9, 10}

In [10]:
# 5. Calculate the union of A and B and get the compliment
Union=(A|B)
comp_AB=(U-Union)
print(comp_AB)

{1, 5, 9, 7}

In [11]:
# 6. Calculate the intersect of A and the compliment of B
A & compliment_B

{2, 4, 6, 10}

In [13]:
# 7. Calculate the Relative Compliment of A
A-B

{2, 4, 6, 10}

In [17]:
# 8. Calculate the relative compliment of B\A then C
RelCompB=(B-A)
RelCompC=(C-RelCompB)
print(RelCompC)

{8, 9, 2, 6}

In [19]:
# 9. Calculate the Union between the Intersect of C and A and the relative comp of C\B
InterC=(C&A)
RelcompC=(C-B)
UninC=(InterC|RelcompC)
print(UninC)

{2, 6, 8, 9}

- 2nd exersice Inclusion Exclusion Principle

In [40]:

left_hand_eq=len((A|B|C))
print(left_hand_eq)

9

In [41]:
cardi=(len(A)+len(B)+len(C))
cardi2=len((A&B))
cardi3=len((A&C))
cardi4=len((B&C))
cardi5=len(((A&B&C)))
right_hand_eq=(cardi-cardi2-cardi3-cardi4+cardi5)
print(right_hand_eq)

9

In [43]:
left_hand_eq==right_hand_eq

True

- 3rd Exercise

In [85]:
Nina = set(["Cat","Dog","Rabbit","Donkey","Parrot", "Goldfish"])
Mary = set(["Dog","Chinchilla","Horse", "Chicken"])
Eve = set(["Rabbit", "Turtle", "Goldfish"])

In [86]:
#Sadly, Eve's turtle passed away last week. Let's update her pet list accordingly.
tur={"Turtle"}
update=(Eve.difference_update(tur))
print(Eve)

{'Rabbit', 'Goldfish'}

In [87]:
#Update Ninas Set
Updated=Nina.update(Mary)
print(Nina)

{'Chinchilla', 'Goldfish', 'Dog', 'Parrot', 'Chicken', 'Horse', 'Rabbit', 'Cat', 'Donkey'}

In [88]:
#Mary, on the other hand, wants to clear her list altogether while away
Clear=Mary.clear()
print(Mary)

set()

In [89]:
#Look at how many species Nina is taking care of right now.

print(len(Nina))

9

In [91]:
#How many animals intersect
Intersec=Nina.intersection_update(Eve)
print(Nina)

{'Rabbit', 'Goldfish'}

- 4th Exercise

In [103]:
import pandas as pd

# Load Europe and EU
europe = pd.read_excel('Europe_and_EU.xlsx', sheet_name = 'Europe') 
eu = pd.read_excel('Europe_and_EU.xlsx', sheet_name = 'EU')

In [100]:
# remove whitespace
eu["Country"].str.strip()
europe["Country"].str.strip()

0                      Russia
1                     Germany
2                      Turkey
3                      France
4              United Kingdom
5                       Italy
6                       Spain
7                     Ukraine
8                      Poland
9                     Romania
10                Netherlands
11                    Belgium
12                     Greece
13             Czech Republic
14                   Portugal
15                     Sweden
16                    Hungary
17                 Azerbaijan
18                    Belarus
19                     Serbia
20                    Austria
21                Switzerland
22                   Bulgaria
23                    Denmark
24                    Finland
25                   Slovakia
26                     Norway
27                    Ireland
28                    Croatia
29     Bosnia and Herzegovina
30                    Georgia
31                    Moldova
32                    Armenia
33                  Lithuania
34                    Albania
35                  Macedonia
36                   Slovenia
37                     Latvia
38                     Kosovo
39                    Estonia
40                     Cyprus
41                 Montenegro
42                 Luxembourg
43                      Malta
44                    Iceland
45                Jersey (UK)
46           Isle of Man (UK)
47                    Andorra
48              Guernsey (UK)
49    Faroe Islands (Denmark)
50              Liechtenstein
51                     Monaco
52             Gibraltar (UK)
53                 San Marino
54    Åland Islands (Finland)
55          Svalbard (Norway)
56               Vatican City
Name: Country, dtype: object

In [102]:
europe.head(3)

,Rank,Country,Population,% of population,Average relative annual growth (%),Average absolute annual growth,Estimated doubling time (Years),Official figure (where available),Date of last figure,Regional grouping,Source
0,1.0,Russia,143964709,17.15,0.19,294285,368,146839993,2017-01-01 00:00:00,EAEU,[1]
1,2.0,Germany,82521653,9.80,1.20,600000,90,82800000,2016-12-31 00:00:00,EU,Official estimate
2,3.0,Turkey,80810000,9.60,1.34,1035000,52,77695904,2016-12-31 00:00:00,NaN,[2]

In [98]:
eu.head(3)

,Rank,Country,2017 population,% of pop.,Average relative annual growth,Average absolute annual growth,Official figure,Date of last figure,Source
0,1,Germany,82800000,16.18,0.76,628876,82576900,2017-03-31,Official estimate
1,2,France,67210459,13.10,0.40,265557,67174000,2018-01-01,Monthly official estimate
2,3,United Kingdom,65808573,12.86,0.65,428793,65648100,2017-06-30,Official estimate

In [ ]:
# Check to confirm that the EU countries are a subset of countries in Europe